<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Twilio Video Demo</title>
    <link rel="stylesheet" href="static/styles.css">
    <!-- Twilio Video CDN -->
    <script src="https://sdk.twilio.com/js/video/releases/2.15.2/twilio-video.min.js"></script>
    
</head>
<body>
    <form id="room-name-form">
    Ingresa el nombre de la sala <br>
    <input name="room_name" id="room-name-input" />
    <button type="submit">Entrar</button>
    </form>
    <div id="video-container"></div>
    <img id="logo-tlc" src="../static/img/logo-tlc.jpeg" alt="logo-tlc">
    <script src="static/main.js"></script>
</body>
</html>
